* {
    box-sizing: border-box;
}
button {
    border-radius: 10px;
    border: 1px solid black;
    cursor:pointer;
}
.container {
    width:600px;
    border: 1px solid black;
margin: auto;
padding: 3rem;
}
h1 {
    text-align: center;
}

.todo {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:200px;
    border: 1px solid blue;
    padding:0.5rem;

}
ul {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}